
<form  name="myform" class="form form-horizontal" novalidate>
  <legend>Angular User Validation with Bootstrap Decorations</legend>
  <div class="control-group">
    <label for="inputUsername" class="control-label">Username:</label>
    <div class="controls">
      <input type="text" id="inputUsername" name="username" ng-model="username"/>
      <div class="help-inline">
        <span ng-show="1">Username Required.</span>
      </div>
    </div>
  </div>
  <div class="form-actions" ng-show="1">
    <input type="submit" class="btn btn-primary" value="Submit" />
  </div>
</form>
